<!DOCTYPE html>
<html>
<head>
  <title>CSRFTuto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <span>
      <%=link_to "Todos", todos_url %> | 
    </span>
    <span>
      <%=link_to "New Todo", new_todo_url %>
      </span>
  </div>
  <div class="session">
    <%if (current_user) %>
      Logged in as <%=current_user.email %>, with cookie <%=cookies[:_CSRFTuto_session]%>
      <%=button_to "Sign out", destroy_user_session_url, method: :delete %>
    <%else %>
        Not logged in
    <% end -%>
  </div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

<%= yield %>

</body>
</html>
